*.elc
*.lock
.backups/
.emacs.desktop
.places
auto-save-list/
backups/
el-get/
elpa/
elpy
ido.last
org-clock-save.el
places
projectile-bookmarks.eld
projectile.cache
recentf
request/
smex-items
straight/
swank/
tramp
url/*
.undo/*
/eln-cache/
/*.sqlite
/transient/
/projects
