*.elc
*.lock
.backups/
.emacs.desktop
.places
.undo/*
/*.sqlite
/eln-cache/
/forge-database.sqlite
/projects
/transient/
/undo/
auto-save-list/
backups/
el-get/
elpa/
elpy
ido.last
org-clock-save.el
places
projectile-bookmarks.eld
projectile.cache
recentf
request/
smex-items
straight/
swank/
tramp
url/*
url/cookies
