*
!.gitignore

!early-init.el
!init.el

!straight/
!straight/versions/
!straight/versions/default.el

!LICENSE
!README.md

!.pre-commit-config.yaml
!.github/
!.github/workflows/
!.github/workflows/*.yml

!renovate.json
