name: check

on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
  push:
    branches:
      - master

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - 29.4
          - 30.1
          - 30.2
          - release-snapshot
        ignore_warnings:
          - false
    steps:
    - uses: purcell/setup-emacs@8415786a52b3a84babd7ffc92a802b06e3780c17
      with:
        version: ${{ matrix.emacs_version }}
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        persist-credentials: false
    - uses: leotaku/elisp-check@cbcda75256a9195b5e6d7e6fa39390b32e08a4f3
      with:
        check: load-file
        file: '*.el'
        ignore_warnings: ${{ matrix.ignore_warnings }}
