name: check

on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
  push:
    branches:
      - master

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - 29.4
          - 30.1
          - 30.2
          - release-snapshot
        ignore_warnings:
          - false
    steps:
    - uses: purcell/setup-emacs@8415786a52b3a84babd7ffc92a802b06e3780c17
      with:
        version: ${{ matrix.emacs_version }}
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      with:
        persist-credentials: false
    - uses: leotaku/elisp-check@b8228894697c3cf9989a0e63977de4a239160628
      with:
        check: load-file
        file: '*.el'
        ignore_warnings: ${{ matrix.ignore_warnings }}
