name: update-packages

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions: {}

jobs:
  update-packages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        persist-credentials: false
    - uses: purcell/setup-emacs@8415786a52b3a84babd7ffc92a802b06e3780c17
      with:
        version: release-snapshot
    - run: emacs --batch --load early-init.el --load init.el --eval "(progn (straight-thaw-versions) (straight-pull-all) (straight-rebuild-all) (straight-freeze-versions))"
    - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725
      with:
        add-paths: "straight/versions/default.el"
        sign-commits: true
        branch: update-straight-el
        title: Update straight.el dependencies
        body: ""
        draft: always-true
