name: update-packages

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-packages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      with:
        persist-credentials: false
    - uses: purcell/setup-emacs@8415786a52b3a84babd7ffc92a802b06e3780c17
      with:
        version: release-snapshot
    - run: emacs --batch --load early-init.el --load init.el --eval "(straight-rebuild-all)"
    - run: emacs --batch --load early-init.el --load init.el --eval "(progn (straight-thaw-versions) (straight-pull-recipe-repositories) (straight-pull-all) (straight-rebuild-all) (straight-freeze-versions))"
    - run: cp /home/runner/.emacs.d/straight/versions/default.el straight/versions/default.el
    - uses: peter-evans/create-pull-request@6699836a213cf8b28c4f0408a404a6ac79d4458a
      with:
        add-paths: "straight/versions/default.el"
        sign-commits: true
        branch: update-straight-el
        title: Update straight.el dependencies
        body: ""
        draft: always-true
